<form ng-submit="$ctrl.submit()" id="login-form">
    <div>
        <label>Username</label>
        <input ng-model="$ctrl.username" type="text">
        <div ng-show="$ctrl.errors.username" class="errors">
            <ul>
                <li ng-repeat="error in $ctrl.errors.username">
                    {{error}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <label>Password</label>
        <input ng-model="$ctrl.password" type="password">
        <div ng-show="$ctrl.errors.password" class="errors">
            <ul>
                <li ng-repeat="error in $ctrl.errors.password">
                    {{error}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <label>Remember me</label>
        <input ng-model="$ctrl.remember" type="checkbox">
    </div>

    <button>Login</button>
</form>