#page-2 {
  color: #7b6e07;
  border: solid #7b6e07 5px;
}
#image-st {
  background-image: url("./st.png");
  background-size: cover;
  height: 555px;
  width: 555px;
}
#image-url {
  background-image: url("https://habrastorage.org/storage2/d36/922/412/d36922412b65ad20413ac591db392e09.png");
  background-size: cover;
  height: 555px;
  width: 555px;
}
